* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    padding-bottom: 10px; 
}

/* Navbar */
.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    background: linear-gradient(90deg, #4f46e5, #06b6d4);
    /* align-items: space-around;
    justify-content: space-evenly; */
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px; 
    font-weight: bold;
    /* justify-content: space-around; */
  }

.nav-links li {
    /* margin-left: 25px; */
    font-size: 18px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    border-bottom: 2px solid white;
}

/* Hero */
.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(135deg, #e0f2fe, #eef2ff);
}

.hero h1 {
    font-size: 48px;
    color: #1e293b;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
    color: #475569;
}

.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #4f46e5, #06b6d4);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 40px;
}

.card {
    background: white;
    padding: 30px;
    width: 260px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* Pages */
.page {
    padding: 80px 40px;
    text-align: center;
    justify-content: space-around;
}

.page p{
    margin-top: 20px;
    font-size: 18px;
    color: #475569;
}

.page h1{
    font-size: 36px;
    color: #000000;
    padding-bottom: 20px;
    margin-top: -40px;
}

.page h2{
    margin-top: 10px;
}

/* Footer */
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }
}
    .nav-links li {
        margin-left: 0;
        margin-top: 10px;
    }